.App {
    background-image: linear-gradient(180deg, rgba(226, 255, 207, 1), rgba(206, 221, 254, 1));
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loader-container {
    display: grid;
    grid-template-columns: 1fr;

    height: 100vh;
}

.loader-spinner {
    margin: auto;
}